.elements__like {
    width: 22px;
    height: 19px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url("../../../images/Vector.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    cursor: pointer;
    transition: .335s ease-in-out;
}

.elements__like:hover {
    opacity: .6;
}