
.profile__avatar-but{
    margin: 0;
    padding: 0;
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline:none;
    display: block;
    object-fit: cover;
    position: relative;
    z-index: -1;
}
.profile__avatar-but:hover{
    background-color:rgba(0,0,0,.8);
    background-position: 50%;
}